.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 60px;
}
.job > p {
    width: 100%;
    margin-bottom: 10px;
}
.job > p:first-child {
    box-sizing: border-box;
    width: 90%;
    padding: 15px;
    box-shadow: 3px 3px 5px #777;
    background: rgb(75, 108, 172);
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}
.job > div {
    display: flex;
    font-size: 20px;
}
.job > div > span {
    width: 100px;
    text-align: right;
}
.job > div > p {
    width: 180px;
    padding-left: 5px;
}
.job > hr {
    width: 60%;
    margin: 5px;
}
.job > .description {
    margin-bottom: 25px;
    font-size: 16px;
}

@media only screen and (max-width: 400px) {

    .job > p {
        width: 100%;
    }
    .job > hr {
        width: 100%;
    }
    .job > p:first-child {
        font-size: 16px;
    }
    .job > div {
        width: 100%;
        font-size: 16px;
    }
    .job > div > p {
        width: calc(100% - 105px);
    }
    .job > .description {
        margin-bottom: 15px;
        font-size: 14px;
    }
}